<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5>Cheque Reports</h5>
            </div>
            <div class="card-body" id="cheque-container">

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        load();
    });

    function load() {
        showLoading();
        $.ajax({
            url: '@Url.Action("ChequesPartial")',
            success: function (html) {
                $('#cheque-container').html(html);
                hideLoading();
            }
        })
    }
</script>