@{
    ViewData["Title"] = "Cheques";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><h5>Cheques</h5></div>
            <div class="card-body" id="cheque-grid">
                <vc:cheque-grid filter="null"></vc:cheque-grid>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <ejs-scripts></ejs-scripts>
            </div>
        </div>
    </div>
</div>
<div id="dialog-container"></div>




<script>
    function showAdd() {

        $.ajax({
            url: '@Url.Action("AddEditChequePartial")',
            success: function(html) {
                $('#AddEditChequeDialog').remove();
                $('#dialog-container').html(html);
            }
        });
    }

    function showEdit(id) {
        $.ajax({
            url: '@Url.Action("AddEditChequePartial")',
            data: { chequeId: id },
            success: function(html) {
                $('#AddEditChequeDialog').remove();
                $('#dialog-container').html(html);
            }
        });
    }

    onSuccessSaveCheque = function (html) {
        $('#AddEditChequeDialog').remove();
        if (html.isSuccess !== true) {
            $('#dialog-container').html(html);
        }
        callback();
    }

    function callback() {
        $.ajax({
            url: '@Url.Action("ChequeGridViewPartial")',
            success: function (html) {
                $('#cheque-grid').html(html);
            }
        })
    }
</script>