@model SalesOrderVM
<ejs-dialog id="tender-transaction-modal" created="onCreated"
            header="Tender Transaction"
            width="500px"
            showCloseIcon="true"
            closeOnEscape="true"
            allowDragging="true">
    <e-content-template>
        <form method="post"
              data-ajax="true"
              data-ajax-url="@Url.Action("TenderTransactionPartial")"
              data-ajax-success="onSuccessTenderTransaction">
            <input type="hidden" asp-for="saleOrderId" />
            <div class="row">
                <div class="col-lg-12">
                    <ejs-combobox id="PaymentMethod" ejs-for="SalesOrder.PaymentMethod" dataSource="Model?.PaymentMethods" cssClass="e-outline" change="change">
                        <e-combobox-fields></e-combobox-fields>
                    </ejs-combobox>
                </div>
                <div class="col-lg-12">
                    <ejs-combobox id="CustomerName" ejs-for="SalesOrder.CustomerName" dataSource="Model?.Customers" placeholder="Select Customer" cssClass="e-outline">
                        <e-combobox-fields text="FullName" value="FullName"></e-combobox-fields>
                    </ejs-combobox>
                    <span asp-validation-for="SalesOrder.CustomerName"></span>
                </div>

                @if (Model.SalesOrder.PaymentMethod == "Cash")
                {
                    <div class="col-lg-12">
                        <ejs-numerictextbox id="AmountPaid" ejs-for="SalesOrder.AmountPaid" placeholder="Amount Paid" cssClass="e-outline" min="1">

                        </ejs-numerictextbox>
                        <span asp-validation-for="SalesOrder.AmountPaid"></span>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-10">
                                <ejs-combobox id="ChequeId" ejs-for="ChequeId" dataSource="Model?.Cheques" cssClass="e-outline">
                                    <e-combobox-fields value="Id" text="ChequeNumber">

                                    </e-combobox-fields>
                                </ejs-combobox>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary btn-fab btn-icon btn-round btn-onside-fab" type="button" onclick="showAddCheque()">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="ChequeId"></span>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </e-content-template>
</ejs-dialog>
<div id="cheque-dialog-container"></div>
<script>

    function onCreated() {
        this.show();
    }

    function change() {
        $('form').submit();
    }
    function showAddCheque() {
        $.ajax({
            url: '@Url.Action("AddEditChequePartial","Cheques")',
            success: function (html) {
                $('#AddEditChequeDialog').remove();
                $('#cheque-dialog-container').html(html);
            }
        })
    }
    onSuccessSaveCheque = function (html) {
        $('#AddEditChequeDialog').remove();
        $('#cheque-dialog-container').html(html);
    }
</script>
@if (Model?.isSuccess == true)
{
    <script>
        $(document).ready(function () {
            location.reload();
        })
    </script>
}
<ejs-scripts></ejs-scripts>