@model RegisterViewModel
@{
    Layout = "~/views/shared/_loginlayout.cshtml";
    ViewData["Title"] = "Register New Member";
}
<form class="form" method="post" action="@Url.Action("Register")">

    <div class="card card-login">

        <div class="card-header ">
            <div class="logo-container">
                <img src="../../assets/img/now-logo.png" alt="">
            </div>
        </div>

        <div class="card-body ">
            <p class="text-center login-msg">Register a new membership</p>
            <div class="input-group no-border form-control-lg">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                    </div>
                </div>
                <input type="text" class="form-control" asp-for="UserName" placeholder="Enter email address">
                <br />
            </div>
            <span asp-validation-for="UserName" class="text-danger"> </span>

            <div class="input-group no-border form-control-lg">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i>
                    </div>
                </div>
                <input type="password" asp-for="Password" placeholder="Passowrd" class="form-control">
            </div>
            <span asp-validation-for="Password" class="text-danger"> </span>


        </div>

        <div class="card-footer ">
            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Register</button>
            <div class="pull-left">

            </div>

            <div class="pull-right">
            </div>
        </div>

    </div>



</form>