@using Data.Models
@model Data.Models.SalesOrders
<select class="form-control" asp-for="CustomerName">
    @foreach (var i in (List<Customers>)ViewData["customers"])
    {

        if (Model?.CustomerName == i.FullName)
        {
            <option value="@i.FullName" selected>@i.FullName</option>
        }
        else
        {
            <option value="@i.FullName">@i.FullName</option>
        }

    }
</select>